
<body style="background-image: url('https://res.cloudinary.com/simpleview/image/upload/v1550537435/clients/eauclaire/Screen_Shot_2019_02_18_at_6_49_50_PM_cd916758-beb8-46d2-abdb-38ffd8392e2a.png'); background-size:cover">



<a class="btn btn-primary" asp-action="MovieSearch">Movie Search</a>
<a class="btn btn-primary" asp-action="MovieNightForm">Movie Night</a>



</body>